body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
  text-align: center;
}

body {
  background-color: #22262a;
}

body {
  color: white; 
}

.button-row button, .actions button {
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

.button-row button:hover {
  background-color: #ffffff;
  transform: scale(1.1);
}

.actions button:hover {
  background-color: #aaaaaa;
  color: rgb(33, 27, 34);
  transform: scale(1.05);
}

.string-display {
  margin-top: 20px;
  font-size: 24px;
}